[user]
	name = Jacky Zhuo
	email = 473729022@qq.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	graph = log --all --graph --decorate --oneline
[core]
	excludesfile = /Users/zhuole/.gitignore_global
	safecrlf = true
	excludesfile = /Users/zhuole/.gitignore
